<script>
    MAPBOX_KEY = '{{mapbox_key}}'
    YEAR = '{{year}}'
    RIDING_NUM = {{riding_num}}
    MAP_BOUNDS = {{map_bounds}}
</script>

<div class="container">
    <h1>Riding Test:</h1>
    <div id="map-riding"></div>
</div>
