#map-main {
    height: 600px;
}

#seats-graph {
    height: 300px;
}

.election-header {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    font-size: 7vw;
}

.leader-name {
    font-size: 6vw;
}

.bar-label {
    font-family: 'IBM Plex Mono';
    text-anchor: 'start';
    font-size: 1.2em;
}